.event {
  position: relative;
  .bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.2;
    overflow: hidden;
  }
    .title-event {
      padding: 20px;
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      h5 {
        font-size: 48px;
        color: $ivorywhite;
      }
    }
  }
  .container-comb {
    padding: 24px;
    grid-row-gap: 60px;
    // grid-column-gap: 30px;
    // margin: 0px auto;
    // width: 700px;
    display: grid;
    grid-template-columns: repeat(7, 80px);
    grid-template-rows: repeat(7, 44px);
    position: relative;
    justify-content: center;
    @media(min-width: 300px)  and (max-width: 600px){
      // justify-content: space-between;
      grid-template-columns: repeat(7, 44px);
      grid-template-rows: repeat(11, 22px);
      gap: 20px;
    }
    @media(min-width: 600px)  and (max-width: 990px){
      grid-template-columns: repeat(7, 72px);
      grid-template-rows: repeat(7, 33px);
    }
  }
  .title-box {
    
    &--1 {
      color: $ivorywhite;
      grid-row: 2/4;
      grid-column: 2/7;
      h3 {
        font-size: 32px;
        margin-bottom: 24px;
        text-align: end;
      }
      p {
        font-size: 16px;
        text-align: end;
      }
      @media(min-width: 600px)  and (max-width: 990px){
        grid-row: 2/4;
      grid-column: 3/7;
        h3{
          font-size: 24px;
          text-align: center;
          margin-bottom: 12px;
        }
        p{
          font-size: 12px;
          text-align: center;
        }
      }
      @media(min-width: 300px)  and (max-width: 600px){
        grid-row: 1/4;
        grid-column: 5/7;
        padding: 8px ;
        h3{
          font-size: 16px;
          margin-bottom: 10px;
        }
        p{
          font-size: 10px;
        }
      }
    }
    &--2 {
      grid-row: 4/5;
      grid-column: 4/8;
      color: $ivorywhite;
      h3 {
        font-size: 32px;
        margin-bottom: 24px;
        text-align: end;
      }
      p {
        // position: absolute;
  
        font-size: 16px;
        // line-height: 1.6;
        text-align: end;
      }
      @media(min-width: 600px)  and (max-width: 990px){
        h3{
          font-size: 24px;
          text-align: center;
          margin-bottom: 12px;
        }
        p{
          font-size: 12px;
          text-align: center;
        }
      }
      @media(min-width: 300px)  and (max-width: 600px){
        padding: 8px 0;
        h3{
          font-size: 16px;
          text-align: center;
          margin-bottom: 10px;
        }
        p{
          font-size: 10px;
          text-align: center;
          align-items: start;
        }
      }
    }
    
    &--3 {
      grid-row: 6/7;
      grid-column: 3/6;
      color: $ivorywhite;
      h3 {
        font-size: 32px;
        margin-bottom: 24px;
        text-align: end;
      }
      p {
        // position: absolute;
  
        font-size: 16px;
        // line-height: 1.6;
        text-align: end;
      }
      @media(min-width: 600px)  and (max-width: 990px){
        h3{
          font-size: 24px;
          margin-bottom: 12px;
        }
        p{
          font-size: 12px;
        }
      }
      @media(min-width: 300px)  and (max-width: 600px){
        padding: 8px 0;
        h3{
          font-size: 16px;
          margin-bottom: 10px;
        }
        p{
          font-size: 10px;
        }
      }
    }
  }

  .comb-item {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-size: cover;
    transform: scale(1, 1);
    transition: all 0.3s ease-out;
    cursor: pointer;
    border-radius: 5px;
    // z-index: 1;
    box-shadow: 0 3rem 6rem rgba(black, 0.1);
  
    &:hover {
      transform: scale(1.1, 1.1);
    }
    @media(min-width: 300px)  and (max-width: 600px){
    clip-path: none;
    border-radius: 0;
    }
  }
  .item {
    position: absolute;
    &--1 {
      grid-row: 1/4;
      grid-column: 1/3;
      background-image: url(img/387842732_765057362299609_5082709765789663690_n.jpeg);
      @media(min-width: 600px)  and (max-width: 990px){
      //   grid-row: 2/4;
      // grid-column: 3/7;
        
      }
      @media(min-width: 300px)  and (max-width: 600px){
        grid-row: 1/4;
      grid-column: 3/5;
      }
    }
    &--2 {
      grid-row: 3/6;
      grid-column: 2/4;
      background-image: url(img/385074515_761305532674792_8014061473627508168_n.jpeg);
    }
    &--3 {
      grid-row: 1/4;
      grid-column: 3/5;
      background-image: url(https://scontent.ftpe8-4.fna.fbcdn.net/v/t39.30808-6/385074515_761305532674792_8014061473627508168_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5614bc&_nc_ohc=nblVqriq_fQAX_3rYzU&_nc_ht=scontent.ftpe8-4.fna&oh=00_AfD1lS1hSG2BbfGS_lEn0BLeVJly2qu0-5Hh_F4EGq5P2Q&oe=652B4250);
      transform: scale(1, 1);
      transition: all 0.3s ease-out;
      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
    &--4 {
      background-image:url(img/385074515_761305532674792_8014061473627508168_n.jpeg);
      grid-row: 3/6;
      grid-column: 2/4;
    }
    &--5 {
      grid-row: 1/4;
      grid-column: 5/7;
      background-image: url(https://scontent.ftpe8-4.fna.fbcdn.net/v/t39.30808-6/383344300_756772353128110_3677719297335623520_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5614bc&_nc_ohc=00eK-oIA0cMAX_ORUVV&_nc_ht=scontent.ftpe8-4.fna&oh=00_AfAIpyYtf9DcI2E8AvaY8blFlyvmcNlAjfJAG-Rue5NTeg&oe=652ADE8B);
      transform: scale(1, 1);
      transition: all 0.3s ease-out;
      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
    &--6 {
      background-image: url(https://scontent.ftpe8-3.fna.fbcdn.net/v/t39.30808-6/378693754_749056730566339_4011701454055401378_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5614bc&_nc_ohc=6rb7wLw30PsAX_yjRDZ&_nc_ht=scontent.ftpe8-3.fna&oh=00_AfBbeXG3pKtEFWaL-EEQQM_4ivi55ELrmr2ifAM0miIPFw&oe=652ACC71);
      grid-row: 3/6;
      grid-column: 6/8;
    }
    &--7 {
      grid-row: 1/4;
      grid-column: 7/9;
      background-image: url(https://scontent.ftpe8-1.fna.fbcdn.net/v/t39.30808-6/379019241_747945130677499_3312261393798943868_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5614bc&_nc_ohc=hdv8VBSjT68AX9t1Djz&_nc_ht=scontent.ftpe8-1.fna&oh=00_AfBgvsOzTxzoIOemEOuETC6I6tbDUhH4H_t5gMr-dL_SXg&oe=652BDFCF);
    }
    &--8 {
      grid-column: 1/3;
      grid-row: 5 / 8;
      background-image: url(img/391569912_768725991932746_2308552637144161144_n.jpeg);
    }
  }
